.comment {
    padding: 16px 18px;
    margin-bottom: 16px;
    box-shadow: 0 1px 1px 0 rgb(60 75 100 / 14%),
        0 2px 1px -1px rgb(60 75 100 / 12%), 0 1px 3px 0 rgb(60 75 100 / 20%);
    border-radius: 0.25rem;
    border-left: 2px solid #1284e7;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
}
.comment-avatar {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    border-radius: 50%;
    background: #ebebeb;
}
.comment-body {
    width: calc(100% - 66px);
    padding-left: 16px;
    text-align: start;
}
.comment-body__name {
    font-weight: 500;
    color: #1284e7;
}
.comment-body__text {
    margin: 0px;
}
.comment-body__time {
    color: grey;
    font-size: 0.9em;
}
.comment-body__time::before {
    content: "\2022";
    display: inline-block;
    padding: 0px 6px;
    color: lightgrey;
}
.comment-body__delete-button {
    float: right;
    margin-right: 8px;
    font-size: 0.9em;
    cursor: pointer;
    color: grey;
}
.comment-body__delete-button::before {
    content: url("./../assets/delete-icon.svg");
    padding-right: 4px;
    vertical-align: -2px;
}
